body,
html {
  height: 100%;
}
body {
  width: 95%;
  margin: 0 auto;
}
.headerNav {
  width: 50%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 207, 198);
}
.headerNav * {
  margin: 0 10px;
}
.color__wrapper {
  display: flex;
  justify-content: center;
}
.text__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.color__box {
  outline: solid black 1px;
  height: 70vh;
  width: 150px;
}

.color__text {
  margin: 0;
  width: 150px;
  line-height: 1.5rem;
}
#color-picker {
  width: 75px;
  height: 50px;
}
#scheme-select {
  padding: 0.25em;
  font-size: 1.25rem;
}
#create-scheme__btn {
  font-size: 1.25rem;
  padding: 0.25em 0.5em;
}
section {
  width: 50%;
  margin: auto;
}
@media (max-width: 1400px) {
  .headerNav {
    flex-direction: column;
    padding: 10px 0px;
  }
  .headerNav * {
    margin: 5px 0;
  }
  .color__box {
    outline: solid black 1px;
    height: 40vh;
    width: 150px;
  }
}
@media (max-width: 700px) {
  #color-picker {
    width: 50px;
    height: 50px;
  }
  #scheme-select {
    padding: 0.25em;
    font-size: 1rem;
  }
  #create-scheme__btn {
    font-size: 1rem;
    padding: 0.25em 0.5em;
  }
  .color__text {
    margin: 0;
    font-size: 0.5rem;
  }
}
